.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

button, .button{
    color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5em;
  background: $primary-color;
  color: $white;
  font-weight:700;
  border-radius: 5px;
  padding: 6px 18px;
  &:hover{

  }
}

button.border-button{
  border:$primary-color solid 2px;
  color:$primary-color;
  background-color:transparent;
  border-radius: 5px;
  padding: 6px 18px;
  font-weight:300;
  text-transform:uppercase;
  &:hover{
  font-family: sans-serif;
  background: $primary-color;
  color: $white;

  }
}

.call-button {
  color: #fefefe;
  padding: 6px;
  background-color: #ffaa7b;
  border-radius: 5px;
  width: 308px;
  text-align: center;
  float: right;
  margin: 10px 10px 60px;
}

.call-title {
  font-weight: 700;
  font-size: 1.2em;
}
