
.front {
  .front-header {
    .front-hero {
      background-image: url("../images/Slider/UPBH.jpg");
      background-size: cover;
      min-height: 526px;
      height: 100%;
      padding:0;
      margin-bottom:30px;
    }

    .marketing-right{
      position:relative;
      display:none;
      @include breakpoint(medium){
        display:block;
      }
      img{
      width: auto;
      position: relative;
      border: 4px solid rgba(255,255,255,0.4);
      @include vertical-align();
      }
    }
    .marketing-left {
      @include breakpoint(medium) {
        height: 100%;
        min-height: 526px;
        padding: 60px 0;
      }
      background-color: rgba(0,52,120,.5);
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);


      h2{
        color: #fff;
        font-size: 22px;
        max-width: 500px;
        margin-bottom: 15px;
        padding: 5px 25px 5px 25px;
        text-align: left;
        font-weight: bold;
        font-family: 'Lato',arial,sans-serif;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }
      h3{
      color: #fff;
      font-size: 68px;
      max-width: 540px;
      margin-bottom: 0;
      text-align: center;
      font-family: 'Lato',arial,sans-serif;
      font-weight: 800;
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      padding: 5px 25px 5px 25px;
      }
      .italic-title{
        color: #fff;
        font-size: 40px;
        max-width: 540px;
        margin-bottom: 0;
        padding: 25px 30px 25px 30px;
        text-align: center;
        font-weight: 500;
        font-style: italic;
        font-family: 'Lato',arial,sans-serif;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }

      .title {
        color: $white;
        @include breakpoint(medium) {
          font-size: 48px;
        }
        font-size: 28px;
        max-width: 540px;
        margin-bottom: 0;
        padding: 5px 25px;
        font-weight: 700;
        text-align: center;
      }

      .subtitle {
        color: $white;
        @include breakpoint(medium) {
          font-size: 68px;
        }
        font-size: 38px;
        max-width: 540px;
        margin-bottom: 0;
        text-align: center;
        font-family: 'Lato',arial,sans-serif;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }
    }

    .tagline {
      width: 100%;
      padding: 0;
      color: #fff;
      padding:10px;

      li {
        color: white;
        font-size: 1.1em;
        font-weight: 700;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);

        &:before {
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f058";
          font-size: 16px;
          margin-left: -24px;
          width: 24px;
          color: #ffaa7b;
        }
      }
    }
  }

  .home__quote {
    font-style: italic;
    font-size: 18px;
    margin: 20px 0;
    text-align: left;
  }

  .gray-header {
    color: #8b8178;
    text-align: left;
    background-color: #F5F5F5;
    padding: 30px;

    .title {
      font-weight: 700;
      font-size: 32px;
    }
  }
}
