//sidebar-right

.side-quote {
  &__callout {
    background-color: $light-gray;
    color: $dark-gray;
    padding: 30px 30px 15px;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 30px;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f5f5f5;
      position: absolute;
      bottom: -20px;
      margin-left: -20px;
      left: 50%;
    }
  }

  &__quote {
    border: 0;
    padding: 0;
    font-size: 16px;
    color: #666;
  }

  &__author {
    color: $medium-gray;
    font-size: 13px;
    padding: 20px 0 10px;

    .bracket {
      color: $primary-color;
      font-size: 20px;
      float: right;
      margin-top: -10px;
    }
  }

  &__photo {
    border-radius: 50%;
    border: solid 5px $light-gray;
    height: auto;
    width: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: 25%;
  }
}
