// Navigation breakpoints

.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}
// Site title
.site-desktop-title a {
  font-weight: bold;
}
// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a {
    background-color: #ccc;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: $brown;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}
// Tablet and desktop menu
.menu .is-active > a {
  background: transparent;
  opacity: 0.7;
}

.top-bar {
  .top-bar-title {
    margin: -70px 1rem 0.5rem 0;

    a {
      font-size: 1rem;
      color: #B9B9B9;
      padding-left: 1rem;
      line-height: 1.8;
      text-transform: uppercase;
    }
  }

  .menu a {
    color: $brown;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      color: $secondary-color;
    }
  }

  .top-bar-right {
    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
    }

    li:before{
      display:none;
    }

    .menu {
      float: right;
    }

    .is-dropdown-submenu li {
      display: block;
      background: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-width: 150px;

      &:after {
        content: "\f0d8";
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        color: #fff;
        position: absolute;
        top: -12px;
        right: -90%;
        width: 100%;
        padding-left: 10px;
        text-shadow: 0 -1px 0 #ccc;
        float: right;
      }
    }

    .is-dropdown-submenu li ul li:after {
      display: none;
    }

    .dropdown.menu .is-active a {
      color: $secondary-color;
    }

    .menu .active > a {
      background-color: #ccc;
    }

    .menu > li:not(.menu-text) > a {
      padding: 1rem;
    }

    .dropdown.menu .submenu {
      border: 0;
    }

    .dropdown.menu .has-submenu.is-down-arrow a {
      padding-right: 1rem;
    }

    .dropdown.menu .has-submenu.is-down-arrow > a::after {
      border: 0;
    }

    .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}
// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
//Custom Header
