// Top Header Navigation

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $white;
  width: 100%;

  .menu a {
    white-space: normal;
  }

  .grid-container {
    padding: 0;
  }
  // Navigation breakpoints
  .mobile-menu,
  .mobile-menu-button,
  .site-mobile-title {
    @include hide-for(medium);
  }

  .desktop-menu {
    @include show-for(medium);
  }

  .title-bar {
    float: right;
    height: 97px;

    &-left {
      display: block;
      width: 60%;
      float: left;

      img {
        width: 100%;
      }
      @include breakpoint(medium) {
        display: none;
      }
    }

    &-right {
      width: 40%;

      button {
        font-size: 15px;
      }
    }
    @include breakpoint(medium) {
      width: 100%;
    }
  }

  .top-bar {
    float: left;
    width: 100%;

    &-title {
      display: none;
      @include breakpoint(medium) {
        display: block;
      }
    }
  }
  // Site title
  .site-desktop-title a {
    font-weight: bold;
  }
  // Mobile menu
  .mobile-menu {
    display: none; // prevents repaint caused by JS hiding menu onload
  }

  .off-canvas {
    > ul.menu {
      height: 100vh;
      padding: 1rem;

      a {
        color: $white;
        font-weight: 600;
        font-size: rem-calc(15);
      }
    }

    .menu .active > a {
      background-color: $medium-gray;
    }
  }
  // Tablet and desktop menu
  .menu .is-active > a {
    background: transparent;
    opacity: 0.7;
  }

  .menu a {
    color: $brown;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      color: $secondary-color;
    }
  }

  .top-bar-left {
    float: left;

    img {
      display: block;
    }
  }

  .top-bar-right {
    float: right;
    width: 100%;

    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
    }

    .mobile-menu {
      ul {
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
        -o-box-shadow: 0 0 4px rgba(0,0,0,0.5);
        -ms-box-shadow: 0 0 4px rgba(0,0,0,0.5);
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
      }

      li {
        background-color: $primary-color;
        width: 100%;
        border: 1px dotted rgba(255,255,255,.35);

        a {
          color: $white;
          text-transform: uppercase;
          font-size: 22px;
          line-height: 45px;
          padding-left: 1rem;
        }
      }
    }

    .call-button {
      width: 100%;
      border-radius: 0;
      text-align: center;
      margin: 0;
      @include breakpoint(medium) {
        color: #fefefe;
        padding: 11px;
        background-color: #ffaa7b;
        border-radius: 5px;
        width: 308px;
        text-align: center;
        float: right;
      }
    }
  }

  li:before {
    display: none;
  }

  .menu {
    float: right;
    width: 100%;
  }
  //Custom Header
  //mobile menu
  .mobile-menu,
  .mobile-off-canvas-menu {
    .menu .is-active > a {
      opacity: 1;
    }
  }

  .desktop-menu {
    background-color: white;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 13px 10px;

    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
    }

    ul {
      border-radius: 4px;
      border: 1px solid $medium-gray;

      &:after {
        content: "\f0d8";
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        color: #fff;
        position: absolute;
        top: -12px;
        right: -90%;
        width: 100%;
        padding-left: 10px;
        text-shadow: 0 -1px 0 $medium-gray;
        float: right;
      }

      ul {
        &:after {
          display: none;
        }
        border-radius: 4px;
        border: 1px solid $medium-gray;
      }
    }

    .is-dropdown-submenu li {
      @include breakpoint(medium) {
        display: block;
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid $medium-gray;
        min-width: 150px;
      }
    }

    .is-dropdown-submenu li ul li:after {
      display: none;
    }

    .menu .active > a {
      background-color: $medium-gray;
    }
    @include breakpoint(medium) {
      .menu > li:not(.menu-text) > a {
        padding: 1rem;
      }
    }

    .dropdown.menu .is-active > a {
      color: $secondary-color;
    }

    .dropdown.menu .has-submenu.is-down-arrow a {
      padding-right: 1rem;
    }

    .dropdown.menu .has-submenu.is-down-arrow > a::after {
      border: 0;
    }

    .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    right: 0;
    left: auto;
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a {
    color: $brown;
  }

  .dropdown.menu .is-active > a {
    color: $brown;
  }

  .dropdown.menu .is-active a {
    color: $secondary-color;
  }

  .site-navigation {
    @include breakpoint(small only) {
      padding: 0; // prevents container visibility on small screens
    }
  }
  // WP post navigation
  .post-navigation {
    @include clearfix;
  }

  .nav-previous {
    float: left;
  }

  .nav-next {
    float: right;
  }
}
